form
    textarea(form_id="submit" type="text" class="text-input" placeholder="Enter your most private thoughts here...")
button(type="button" class="btn btn-default btn-lg")
    form#publish(action="")
        input(formmethod="post" type="submit" value="Publish")


//-  if ( pathname == "/post.*")
//-     h1.title Here is the post
//-     p.post-content Here is the post content
//- else