form(action="/new" method="post")
    input(type="text" name="fname")
    textarea(type="text" class="text-input" placeholder="Enter your most private thoughts here..." name="lname")
	input(type="submit" value="Publish" class="btn btn-default btn-lg")