doctype html
html
  head
    title Hello, #{author}!
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  body
    div.container
      h1 Hey there, #{author}!
      p.
        According to my data, your name is #{author} and you wrote #{title}.