doctype html
html
    head
        title #{title}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        .container-fluid
            .row
                .main(class="col-md-8 col-md-offset-2")
                    h2.
                        This is the #{title} page
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eius modi dolor, reiciendis maxime perferendis, fugit sapiente facilis repellat molestiae dicta esse alias beatae magni aliquid similique accusantium vero dignissimos?
            .row
                .list(class="col-md-6 col-md-offset-3")
                    if auth == true
                        button(type="button" class="btn btn-default btn-lg") 
                                form(action="/new")
                                    input(type="submit" value="+ New Post")
                    ul
                        each post in posts
                            li
                                h3
                                    a(href="/post/#{post.firstName}")=post.firstName
                    a(href="/signup").
                        signup
                    a(href="/logout").
                        logout
                    a(href="/login").
                        login