doctype html
html
    head
        title #{title}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        .container-fluid
            .row
                .col-md-4(class="col-md-offset-4 login")
                    h3 Login
                    form(action="/login" method="post")
                        input(type="text" name="username" placeholder="Username")
                        input(type="password" name="password" placeHolder="Password")
                        input(type="submit" value="login!")
                    a(href="/") cancel