doctype html
html
    head
        title #{title}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/main.css")
    body
        .container-fluid
            .row
                .header(class="col-md-6 col-md-offset-2")
                    h2 #{title} a Blog Post
                    .nav
                        button(type="button" class="btn btn-default btn-lg")
                            form(action="/")
                                input(type="submit" value="<- Home")
                        button(type="button" class="btn btn-default btn-lg")
                            form(action="/edit")
                                input(type="submit" value="Edit Post")
                        button(type="button" class="btn btn-default btn-lg")
                            form(action="/post")
                                input(type="submit" value="Publish")
                .col-md-2  
                    img.img-responsive(src="/img/joey-t.jpg")
            .row
                .post(class="col-md-8 col-md-offset-2")
 
            .row(class="footer")
                .col-md-10(class="col-md-offset-1")
                    h3.
                        #{post.firstName}
                    p.
                        #{post.lastName}